.cda-footer{
  background: url(images/pattern.png) center bottom no-repeat, url(images/cda.jpg) center top no-repeat;
  background-size: 100% auto;
}

nav {
    background-color: #FFF;
    box-shadow: none;
}

nav ul a {
  color: #000000;
}

nav .brand-logo {
  color: #000000;
}

.material-icons.md-dark { 
  color: rgba(0, 0, 0, 1); 
}

footer{
  color: #000000;  
}

a{
  color: red;  
}

.cda-card {
  margin: 0.5rem 0 0.2rem 0;
}