.cda-footer{
  background: url(images/footer.png) center bottom no-repeat;
  background-size: 100% auto;
}

nav {
    background-color: #FFF;
    box-shadow: none;
}

nav ul a {
  color: #000000;
}

nav .brand-logo {
  color: #000000;
}

.material-icons.md-dark { 
  color: rgba(0, 0, 0, 1); 
}

footer{
  color: #000000;  
}

.cda-center {
  float: left;
  position: relative;
  left: -50%;
}